#game-title {
  text-align: center;
  font-size: 50px;
}


#canvas {
  width: 1200px;
  height: 600px;
  border-radius: 20px;
  background: url(../assets/background_FINAL2.svg);
  margin: auto;
  position: relative;
  overflow: hidden;
}

/*Music on/off buttons - Botones de encender/apagar música*/
.soundOn {
  background: url(../assets/sound.png);
  background-size: contain;
  position: absolute; 
  width: 30px;
  height: 30px;
  top: 30px;
  right: 30px;
}

.soundOff {
  background: url(../assets/NoSound.png);
  background-size: contain;
  position: absolute; 
  width: 30px;
  height: 30px;
  top: 30px;
  right: 30px;
}

/*Mario and Mario horizontal flip - Mario y Mario volteado horizontalmente*/
#mario {
  background: url(../assets/van_gogh.svg);
  background-size: cover;
  position: absolute;
  z-index: 2;
}



.mario-left {
  transform: scaleX(-1)
} 

.cloud {
  background: url(../assets/cloud.png);
  background-size: contain;
  width: 45px;
  height: 33px;
  position: absolute;
  animation-name: wiggle;
  animation-duration: 6500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}


.barrier {
  background: url(../assets/barrera.svg);
  background-size: contain;
  width: 180px;
  height: 67px;
  position: absolute;
  z-index:1;
}

.hole {
  background: url(../assets/hole.svg);
  background-size: contain;
  width: 100px;
  height: 50px;
  position: absolute;
  z-index:1;
}


.chandelier {
  background: url(../assets/obstaculo_lampara.svg);
  position: absolute;
  background-size: contain;
}

.vitrina {
  background: url(../assets/obstaculo_vitrina.svg);
  position: absolute;
}

.tourists {
  background: url(../assets/obstaculo_turistas.svg);
  position: absolute;
  z-index: 2;
}

.thief {
  background: url(../assets/obstaculo_dinamico_ladron.svg);
  position: absolute;
  z-index: 2;
}

.thief-left {
  transform: scaleX(-1)
} 

.selfportraitPicasso {
  background: url(../assets/cuadros_pared_1.svg);
  position: absolute;
  z-index: 0;
  animation: bounce 3s ease infinite;
}
@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-10%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
   /* 97% { transform:translateY(0%); }
    99% { transform:translateY(-1%); }
    100% { transform:translateY(0); }*/
}


.birthVenus {
  background: url(../assets/cuadros_pared_2.svg);
  position: absolute;
  z-index: 0;
}

.selfportraitVanGogh {
  background: url(../assets/cuadros_pared_3.svg);
  position: absolute;
  z-index: 0;
}

.magritte {
  background: url(../assets/cuadros_pared_4.svg);
  position: absolute;
  z-index: 0;
}

.sunflowers {
  background: url(../assets/cuadros_pared_5.svg);
  position: absolute;
  z-index: 0;
}

.vermeer {
  background: url(../assets/cuadros_pared_6.svg);
  position: absolute;
  z-index: 0;
}

.picassoPortrait {
  background: url(../assets/cuadros_pared_7.svg);
  position: absolute;
  z-index: 0;
}

.monaLisa {
  background: url(../assets/cuadros_pared_8.svg);
  position: absolute;
  z-index: 0;
}

.vanGoghPortrait {
  background: url(../assets/cuadros_pared_9.svg);
  position: absolute;
  z-index: 0;
}

.obstacle {
  height: 80px;
  width: 80px;
  background-color: green;
  bottom: 50px;
  position: absolute;
}

.floor {
  background: url(../assets/suelo_colision.svg) repeat-x;
  position: absolute;
}

.meta {
  background: url(../assets/caballete_vacio.svg);
  position: absolute;
  background-size: cover;
}

/* Página de inicio */
.wrapper {
  position: relative;  
}

#inicio {
  background: url("../assets/Pantalla_inicio.jpg");
  width: 1200px;
  height: 600px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
 z-index: 5;
}

#nivel1 {
  background-color: rgb(0, 119, 255);
  border-radius: 30px;
  width: 1100px;
  height: 550px;
  top: 25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  z-index: 3;
}

#playJuego {
  border-radius: 30px;
  border-style: none;
  color: white;
  width: 300px;
  height: 100px;
  background-color: rgb(230, 35, 207);
  font-size: 50px;
  bottom: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
}

.ocultar {
  display: none;
}

#instrucciones {
  background-color: rgb(255, 255, 0);
  border-radius: 30px;
  position: absolute;
  margin: 0 auto;
  width: 1100px;
  height: 550px;
  top: 25px;
  left: 0;
  right: 0;
  z-index: 4;
}

#intro{
  margin: 75px 150px;
  text-align: center;
  font-size: 20px;
  position: relative;
  color: blue;
}

#level1 {
border-radius: 30px;
border-style: none;
color: white;
width: 250px;
height: 75px;
background-color: rgb(8, 244, 158);
font-size: 25px;
color: black;
position:absolute;
margin-top:40px;
margin-left:425px;
}

.levelScreen {
font-size: 72px;
text-align: center;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 50px;
}

#starryNight {
  background: url("../assets/starrynight.jpg");
  position: absolute;
  width: 415px;
  height:260px;
  margin-left: 10%;
  margin-top: 10px;
}

.fichaTecnica {
  margin-left: 500px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 25px;
  color: rgb(255, 230, 0);
}

#letsGo {
  border-radius: 30px;
  border-style: none;
  width: 150px;
  height: 50px;
  background-color: rgb(244, 201, 8);
  font-size: 25px;
  color: black;
  margin-top: 25px;
}

