
#game-title {
  text-align: center;
  font-size: 50px;
}

#canvas {
  width: 1200px;
  height: 600px;
  border-radius: 20px;
  background: url(../assets/background.svg);
  /*background-color: rgb(137, 174, 255);*/
  margin: auto;
  position: relative;
  overflow: hidden;
}

.soundOn {
  background: url(../assets/sound.png);
  background-size: contain;
  position: absolute; 
  width: 30px;
  height: 30px;
  top: 30px;
  right: 30px;
}

.soundOff {
  background: url(../assets/NoSound.png);
  background-size: contain;
  position: absolute; 
  width: 30px;
  height: 30px;
  top: 30px;
  right: 30px;
}

#mario {
  background: url(../assets/van_gogh.svg);
  background-size: cover;
  position: absolute;
  /* transition: left 0.5s ease-in-out; */
  /* width: 40px;
  height: 75px;
  bottom: 50px;
  left: 100px; */
}

.mario-left {
  transform: scaleX(-1)
} 

.mario-up {

}


.cloud {
  background: url(../assets/cloud.png);
  background-size: contain;
  width: 45px;
  height: 33px;
  position: absolute;
}

.obstacle {
  height: 80px;
  width: 80px;
  background-color: green;
  bottom: 50px;
  position: absolute;
}

.barrier {
  height: 101px;
  width: 271px;
  background: url(../assets/barrera.svg);
  bottom: 350px;
  position: absolute;
}

.floor {
  background: url(../assets/suelo_colisión.svg) repeat-x;
  position: absolute;
  /* width: 1200px;
  height: 50px; */
  /* bottom: 0px; */
}

.pipe {
  background-color: green;
  position: absolute;
}

.block {
  background-color: brown;
  position: absolute;
}


/* Página de inicio */
.wrapper {
  position: relative;  
}

#inicio {
  background: url("../assets/Pantalla_inicio.jpg");
  /*border-radius: 20px;*/
  width: 1200px;
  height: 600px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
 
}

#nivel1 {
  background-color: rgb(0, 119, 255);
  border-radius: 30px;
  width: 1100px;
  height: 550px;
  top: 25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;

}

#playJuego {
  border-radius: 30px;
  border-style: none;
  color: white;
  width: 300px;
  height: 100px;
  background-color: rgb(230, 35, 207);
  font-size: 50px;
  bottom: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  
}

.ocultar {
  display: none;
}

#instrucciones {
  background-color: rgb(255, 255, 0);
  border-radius: 30px;
  position: absolute;
  margin: 0 auto;
  width: 1100px;
  height: 550px;
  top: 25px;
  left: 0;
  right: 0;
}

#intro{
  margin: 75px 150px;
  text-align: center;
  font-size: 20px;
  position: relative;
  color: blue;
}

#level1 {
border-radius: 30px;
border-style: none;
color: white;
width: 250px;
height: 75px;
background-color: rgb(8, 244, 158);
font-size: 25px;
color: black;
position:absolute;
margin-top:40px;
margin-left:425px;
}

.levelScreen {
font-size: 72px;
text-align: center;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 50px;
}

#starryNight {
  background: url("../assets/starrynight.jpg");
  position: absolute;
  width: 415px;
  height:260px;
  margin-left: 10%;
  margin-top: 10px;
}

.fichaTecnica {
  margin-left: 500px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 25px;
  color: rgb(255, 230, 0);
}

#letsGo {
  border-radius: 30px;
  border-style: none;
  width: 150px;
  height: 50px;
  background-color: rgb(244, 201, 8);
  font-size: 25px;
  color: black;
  margin-top: 25px;
}
